.container {
  display: flex;
  height: 100vh;
  background-color: #161817;

}

.sidebar {
  min-width: 400px;
  overflow: hidden;
}

.chat {
  flex: 1;
  overflow-y: auto;
}

.select_prompt {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-family: Arial;
  text-align: center;
}


@media (max-width: 700px) {
  .sidebar {
    width: 100%;
    min-width: unset;
  }
}